<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/AccountMapper.xml"/>
        <mapper resource="mappers/BankTransferMapper.xml"/>
        <mapper resource="mappers/BeneficiaryMapper.xml"/>
        <mapper resource="mappers/CustomerMapper.xml"/>
        <mapper resource="mappers/DebitCardMapper.xml"/>
        <mapper resource="mappers/DepositMapper.xml"/>
        <mapper resource="mappers/LoginCredentialMapper.xml"/>
        <mapper resource="mappers/PaymentMapper.xml"/>
        <mapper resource="mappers/PurchaseProductMapper.xml"/>
        <mapper resource="mappers/SavingsAccountMapper.xml"/>
        <mapper resource="mappers/TransactionMapper.xml"/>
        <mapper resource="mappers/WithdrawalMapper.xml"/>
    </mappers>
</configuration>